<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harishram.fars"
    android:installLocation="internalOnly">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.category.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sign_up"
            android:exported="true" >
           <intent-filter>
               <action android:name="android.intent.category.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
        </activity>
        <activity
            android:name=".Options"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.category.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Options2"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.category.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Find"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.category.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search_R1"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.category.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Report_Ad"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.category.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Post_ad"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.category.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".My_ad"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.category.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Edit_ad"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.category.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin_view_report"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.category.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Forgot_pass"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.category.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Find2"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.category.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View_users"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.category.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.category.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdatePasswordActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.category.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>